<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
<profile>
<id>empty3</id>
  <activation>
        <activeByDefault>true</activeByDefault>
      </activation>

  <repositories>
    <repository>
      <id>myrepo</id>
      <url>https://empty3.one/downloads/maven</url>
      
        <repository>
          <id>mvn-r</id>
          <name>mvn r</name>
          <url>http://mvnrepository.com/maven</url>
        </repository>
<repository>
<id>spring io</id>
<url>https://repo.spring.io/plugins-release/</url>
        </repository>
<repository>
<id>maven-central</id>
<url>https://repo1.maven.org/maven2/</url>
        </repository>
<repository>
<id>netbeans</id>
<url>http://bits.netbeans.org/maven2/</url>
        </repository>


      </repositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>empty3</activeProfile>
  </activeProfiles>
</settings>
